






<script>
  function blockuser(userId) {
    Swal.fire({
      title: 'Are you sure?',
      text: "BLOCK YOU USER!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, Block it!'
    })
      .then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            url: '/admin/admin_userBlock/' + userId,
            method: 'get',
            success: (response) => {
              if (response.Status) {
                Swal.fire(
                  'BLOCKED!',
                  'USER BLOCKED SUCCESS FULL',
                  'success'
                ).then(() => {
                  location.reload()
                })
              }
            }
          })
        } else {
          Swal.fire(
            'ON BLOCKED!',
            'USER IS SAFE',
          )
        }
      });
  }


  function unblockuser(userId) {
    $.ajax({
      url: '/admin/admin_UserUnBlock/' + userId,
      method: 'get',
      success: (response) => {
        if (response.Status) {
          Swal.fire(
            'BLOCKED!',
            'USER UNBLOCKED SUCCESS FULL',
            "success")
            .then(() => {
              location.reload()
            })
        } else {

        }
      }
    })
  }

  function Addcategory() {
    let newcategory = document.getElementById("Addcategoryid").value
    if (newcategory) {
      $.ajax({
        url: '/admin/AddCategory',
        data: {
          newcategory
        },
        method: 'post',
        success: (response) => {
          if (response.Status) {
            Swal.fire(
              'Good job!',
              'You Addes new category!',
              'success'
            ).then(() => {
              location.reload()
            })
          } else {
            Swal.fire(
              'wrong!',
              'already used this category name!',
              'warning'
            )
          }
        }
      })
    } else {
      Swal.fire(
              'wrong!',
              'please fill the form',
              'warning'
            )
    }

  }

  // "
  function DeleteCategory(categoryId) {
    Swal.fire({
      title: 'Are you sure?',
      text: "DELETE YOUR CATEGORY",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete it!'
    }) .then((result) => {
        if (result.isConfirmed) {
          
    $.ajax({
      url: '/admin/delete-Category/'+categoryId,
      method: 'get',
      success: (response) => {
        if (response.Status) {
          Swal.fire(
            'Good job!',
            'succes fully delete category!',
            'success'
          ).then(() => {
            location.reload()
          })

        } else {
          Swal.fire(
            'wrong!',
            'already this category it as the product!',
            'warning'
          )
        }
      }
    }
    )
  }else{
    Swal.fire(
            'your category is safe',
          )
  }})
  }
  function deleteproduct(productId) {
    Swal.fire({
      title: 'Are you sure?',
      text: "DELETE YOUR PRODUCT",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete it!'
    })
      .then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            url: '/admin/delete-product/' + productId,
            method: 'get',
            success: (response) => {
              if (response.Status) {
                Swal.fire(
                  'DELETED!',
                  'DELETED SUCCES FULLY',
                  'success'
                ).then(() => {
                  location.reload()
                })
              }else{
                Swal.fire(
            'network problem!',
            'product IS  not ',
          )

              }
            }
          })

        } else {
          Swal.fire(
            'your product is safe',
          )
        }
      });


  }

  function changestatus(Status, orderID, insideOrderId) {
    const swalWithBootstrapButtons = Swal.mixin({
      customClass: {
        confirmButton: 'btn btn-success',
        cancelButton: 'btn btn-danger'
      },
      buttonsStyling: false
    })

    swalWithBootstrapButtons.fire({
      title: 'Are you sure?',
      text: "change Oder status",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Yes',
      cancelButtonText: 'No',
      reverseButtons: true
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          url: '/admin/changeStatus/' + Status + "/" + orderID + "/" + insideOrderId,
          method: 'get',
          success: (response) => {
            if (response) {
              swalWithBootstrapButtons.fire(
                'Status changed !',
                'changed status.' + Status,
                'success'
              ).then(() => {
                location.reload()

              })
            } else {
              swalWithBootstrapButtons.fire(
                'Sorry',
                'network proble try again',
                'error'
              )
            }


          }
        })
      } else if (result.dismiss === Swal.DismissReason.cancel) {
        swalWithBootstrapButtons.fire(
          'Cancelled',
          'Your imaginary file is safe :)',
          'error'
        )
      }
    })


  }

  function adminlogin() {
    let loginPassword = document.getElementById("loginPassword").value
    let loginEmail = document.getElementById("loginEmail").value

    $.ajax({
      url: '/admin/admin_login',
      data: {
        loginPassword,
        loginEmail
      },
      method: 'post',
      success: (response) => {
        if (response.Status) {
          location.href = '/admin'
        } else {
          $("#loginPassword").after(`<span class="error text-danger"> ${response.loginMessage} </span>`);

        }

      }

    })
  }

  function getMessage(messageId) {
    $.ajax({
      url: '/admin/getOneMessage/'+messageId,

      method: 'get',
      success: (response) => {

      }

    })
  }
function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>






<!--   Core JS Files   -->
<script src="/admin/js/core/popper.min.js"></script>
<script src="/admin/js/core/bootstrap.min.js"></script>
<script src="/admin/js/plugins/perfect-scrollbar.min.js"></script>
<script src="/admin/js/plugins/smooth-scrollbar.min.js"></script>
<script src="/admin/js/plugins/chartjs.min.js"></script>

<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="/admin/js/material-dashboard.min.js?v=3.0.0"></script>
</body>

</html>